WITH TENANCY_LIST AS(
    SELECT 
           T.RENTAL_PTY_ID AS RENTAL_PTY_ID_T
           ,T.RENTAL_PTY_BIZ_REG_FILE_PATH
           ,T.RENTAL_PTY_REG_BLDG_CNT
           ,T.RENTAL_PTY_ACCT_NO
           ,T.RENTAL_PTY_BIZ_REG_NO
           ,T.RENTAL_PTY_FILE
           ,T.RENTAL_PTY_FILE2
           ,T.LSR_YN_TYPE_CD
           ,T.RENTAL_PTY_BANK_NM
           ,T.LSR_TYPE_GROUP_CD
           ,M.MBR_CD AS MBR_CD_T
           ,M.MBR_ID AS MBR_ID_T
           ,M.MBR_PW AS MBR_PW_T
           ,M.MBR_NM AS MBR_NM_T
           ,M.MBR_NNM AS MBR_NNM_T
           ,M.MBR_TELNO AS MBR_TELNO_T
           ,M.MBR_EML_ADDR AS MBR_EML_ADDR_T
           ,M.MBR_BASIC_ADDR AS MBR_BASIC_ADDR_T
           ,M.MBR_DETAIL_ADDR AS MBR_DETAIL_ADDR_T
           ,M.MBR_PROFIL_IMAGE AS MBR_PROFILE_IMAGE_T
           ,M.MBR_FRST_REG_DT AS MBR_FRST_REG_DT_T
           ,M.MBR_STATUS_CODE AS MBR_STATUS_CODE_T
           ,M.MBR_DELETE_DATE AS MBR_DELETE_DATE_T
           ,M.MBR_ZIP AS MBR_ZIP_T
      FROM TENANCY T
     INNER JOIN MEMBER M ON(T.MBR_CD = M.MBR_CD)
),
BROKER_LIST AS (
    SELECT 
           B.BROK_NM
           ,B.BROK_REG_NO
           ,B.CRTF_NO
           ,B.REPR_NM
           ,B.REPR_TEL_NO
           ,B.REG_DTM
           ,B.BROK_ADDR1
           ,B.BROK_ADDR2
           ,M.MBR_CD   AS MBR_CD_B
           ,M.MBR_ID   AS MBR_ID_B
           ,M.MBR_PW   AS MBR_PW_B
           ,M.MBR_NM   AS MBR_NM_B
           ,M.MBR_NNM  AS MBR_NNM_B
           ,M.MBR_TELNO AS BROK_MBR_TELNO_B
           ,M.MBR_EML_ADDR AS BROK_MBR_EML_ADDR_B
           ,M.MBR_BASIC_ADDR AS BROK_MBR_BASIC_ADDR_B
           ,M.MBR_DETAIL_ADDR AS BROK_MBR_DETAIL_ADDR_B
           ,M.MBR_PROFIL_IMAGE AS BROK_MBR_PROFIL_IMAGE_B
           ,M.MBR_FRST_REG_DT  AS BROK_MBR_FRST_REG_DT_B
           ,M.MBR_STATUS_CODE  AS BROK_MBR_STATUS_CODE_B
           ,M.MBR_DELETE_DATE  AS BROK_MBR_DELETE_DATE_B
           ,M.MBR_ZIP          AS BROK_MBR_ZIP_B
    FROM BROKER B
    JOIN MEMBER M ON B.MBR_CD = M.MBR_CD
)
SELECT L.LSTG_ID
       ,L.MBR_CD
       ,L.RENTAL_PTY_ID
       ,L.LSTG_TYPE_CODE
       ,L.LSTG_ROOM
       ,L.LSTG_CMAR
       ,L.LSTG_XUAR
       ,L.LSTG_TRD_TYPE_CODE
       ,L.LSTG_DEPOSIT_AMOUNT
       ,L.LSTG_MONT_MNG_FEE
       ,L.LSTG_STAT_CODE
       ,L.LSTG_DTL_DESC
       ,L.LSTG_IMG_ID
       ,L.LSTG_VW_CNT
       ,L.LSTG_PBLS_YN
       ,L.LSTG_NM
       ,L.LSTG_SELL_PROD
       ,L.LSTG_PRICE
       ,L.LSTG_TYPE_GROUP_CD
       ,L.LSTG_TRD_TYPE_GROUP_CD
       ,TL.RENTAL_PTY_ID_T
       ,TL.RENTAL_PTY_BIZ_REG_FILE_PATH
       ,TL.RENTAL_PTY_REG_BLDG_CNT
       ,TL.RENTAL_PTY_ACCT_NO
       ,TL.RENTAL_PTY_BIZ_REG_NO
       ,TL.RENTAL_PTY_FILE
       ,TL.RENTAL_PTY_FILE2
       ,TL.LSR_YN_TYPE_CD
       ,TL.RENTAL_PTY_BANK_NM
       ,TL.MBR_CD
       ,TL.LSR_TYPE_GROUP_CD
       ,TL.MBR_CD_T
       ,TL.MBR_ID_T
       ,TL.MBR_PW_T
       ,TL.MBR_NM_T
       ,TL.MBR_NNM_T
       ,TL.MBR_TELNO_T
       ,TL.MBR_EML_ADDR_T
       ,TL.MBR_BASIC_ADDR_T
       ,TL.MBR_DETAIL_ADDR_T
       ,TL.MBR_PROFILE_IMAGE_T
       ,TL.MBR_FRST_REG_DT_T
       ,TL.MBR_STATUS_CODE_T
       ,TL.MBR_DELETE_DATE_T
       ,TL.MBR_ZIP_T
       ,BL.BROK_NM
       ,BL.BROK_REG_NO
       ,BL.CRTF_NO
       ,BL.REPR_NM
       ,BL.REPR_TEL_NO
       ,BL.REG_DTM
       ,BL.BROK_ADDR1
       ,BL.BROK_ADDR2
       ,BL.MBR_CD_B
       ,BL.MBR_ID_B
       ,BL.MBR_PW_B
       ,BL.MBR_NM_B
       ,BL.MBR_NNM_B
       ,BL.MBR_TELNO_B
       ,BL.MBR_EML_ADDR_B
       ,BL.MBR_BASIC_ADDR_B
       ,BL.MBR_DETAIL_ADDR_B
       ,BL.MBR_PROFIL_IMAGE_B
       ,BL.MBR_FRST_REG_DT_B
       ,BL.MBR_STATUS_CODE_B
       ,BL.MBR_DELETE_DATE_B
       ,BL.MBR_ZIP_B
  FROM LISTING L
  LEFT OUTER JOIN TENANCY_LIST TL ON(L.RENTAL_PTY_ID = TL.RENTAL_PTY_ID_T)
  LEFT OUTER JOIN BROKER_LIST BL ON(L.MBR_CD = BL.MBR_CD)
WHERE L.MBR_CD = 'M2507000110';