<result property="mbrCd"         column=" MBR_CD_T" />
<result property="mbrId"         column=" MBR_ID_T" />
<result property="mbrPw"         column=" MBR_PW_T" />
<result property="mbrNm"         column=" MBR_NM_T" />
<result property="mbrNnm"        column=" MBR_NNM_T" />
<result property="mbrTelno"      column=" MBR_TELNO_T" />
<result property="mbrEmlAddr"    column=" MBR_EML_ADDR_T" />
<result property="mbrBasicAddr"  column=" MBR_BASIC_ADDR_T" />
<result property="mbrDetailAddr" column=" MBR_DETAIL_ADDR_T" />
<result property="mbrProfilImage"column=" MBR_PROFIL_IMAGE_T" />
<result property="mbrFrstRegDt"  column=" MBR_FRST_REG_DT_T" />
<result property="mbrStatusCode" column=" MBR_STATUS_CODE_T" />
<result property="mbrDeleteDate" column=" MBR_DELETE_DATE_T" />
<result property="mbrZip"        column=" MBR_ZIP_T" />

<result property="mbrCd"          column=" MBR_CD_B" />
<result property="mbrId"          column=" MBR_ID_B" />
<result property="mbrPw"          column=" MBR_PW_B" />
<result property="mbrNm"          column=" MBR_NM_B" />
<result property="mbrNnm"         column=" MBR_NNM_B" />
<result property="mbrTelno"       column=" MBR_TELNO_B" />
<result property="mbrEmlAddr"     column=" MBR_EML_ADDR_B" />
<result property="mbrBasicAddr"   column=" MBR_BASIC_ADDR_B" />
<result property="mbrDetailAddr"  column=" MBR_DETAIL_ADDR_B" />
<result property="mbrProfilImage" column=" MBR_PROFIL_IMAGE_B" />
<result property="mbrFrstRegDt"   column=" MBR_FRST_REG_DT_B" />
<result property="mbrStatusCode"  column=" MBR_STATUS_CODE_B" />
<result property="mbrDeleteDate"  column=" MBR_DELETE_DATE_B" />
<result property="mbrZip"         column=" MBR_ZIP_B" />